@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: rgb(40, 0, 71);
    font-family: "Montserrat", sans-serif;
}



.progress-bar {
    position: relative;
    border-radius: 8px;
    height: 2px;
    cursor: pointer;
    width: 250px;
  }
  
  .progress {
    height: 100%;
    transition: width 0.2s ease;
  }
  
  .circle {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        cursor: grab;
  }
  
  .circle:active {
    cursor: grabbing;
  }


  


.no-scrollbar::-webkit-scrollbar{
    display: none;
   }
   
   .no-scrollbar{
     -ms-overflow-style:none;
     scrollbar-width: none;
   }